recognition-n8n/on_error_workflow__Sub_workflow_.json
{
  "name": "on_error_workflow [Sub workflow]",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Process Messages",
        "emailType": "text",
        "message": "=❌ERROR:\nRequest ID: {{ $execution.id }}\nMessage: {{ $('ExecutedErrorWorkflow').first().json.error }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -140,
        -180
      ],
      "id": "06a578b9-b978-471f-acc6-4854e724e8d7",
      "name": "Gmail",
      "webhookId": "3bce87ca-8a20-43bc-b89b-da0d89167c80",
      "credentials": {
        "gmailOAuth2": {
          "id": "0CLHk7N8thV9LFnj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        -180
      ],
      "id": "5b4ec607-9ca2-426b-8058-0e7d594038e1",
      "name": "ExecutedErrorWorkflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ec77440-8eea-426a-9df2-d8f405403a7f",
              "name": "email",
              "value": "={{ $('ExecutedErrorWorkflow').item.json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -180
      ],
      "id": "047327d5-1eb4-4b6b-bdff-fa6032be557f",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "ExecutedErrorWorkflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1e5a89f-1080-4b91-a980-17256b979eea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09119e072b265a070a9e89a4f91c8b8a61e1da10e31a28aa9e58f1b9747b70e5"
  },
  "id": "WlFKITxFT0SFA5bt",
  "tags": []
}